<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Form</title>    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle7.css') }}" >
</head>    
<body>   
    <h2>Welcome  to the section swap website</h2><br>    
    <div class="login">    
	<form action="/login" method="POST"> 
        <label><b>User Name     
        </b>    
        </label>    
        <input type="text" name="username" id="Uname" placeholder="Uname">    
        <br><br>    
        <label><b>Password     
        </b>    
        </label>    
        <input type="password" name="password" id="Pass" placeholder="Password">    
        <br><br>    
        <input type="submit" name="log" id="log" value="Log In">       
        <br><br>         
    </form>     
</div>    

<div class="error">
    {{error|safe}}
</div>

</body>    
</html> 